/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* =========================== Under Construction Banner =========================== */

.underConstruction {
  position: fixed;
  width: 100%;
  height: 100%;
}


.testDiv {
  background-color: red;
  width: 150px;
  height: 150px;

  padding: 15px 15px 15px 15px;
}

.section {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  background-color: #ffffff;
}

.filterSection {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  background-color: #ffffff;
  margin: 15px 0 0 0 ;
}

/* =========================== Containers =========================== */

.container_center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 1rem;
  /* border: solid 1px red; */
}

/* =========================== Mobile =========================== */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
  color: white;
}

@media (min-width: 640px) {
  .title {
    font-size: 5rem;
  }
}

.pinkSpan {
  color: hsl(280 100% 70%);
}

.cardRow {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 640px) {
  .cardRow {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .cardRow {
    gap: 2rem;
  }
}

/* =========================== Card =========================== */

/* styles.module.css */
.card {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cardImage {
  width: 300px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}

.cardText {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* =========================== Card Container =========================== */

.cardSection {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0 300px 0 300px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.cardContainer > * {
  position: absolute;
  margin-top: -50px;
}

.cardContainer > *:nth-child(1) {
  left: -150px;
}

.cardContainer > *:nth-child(2) {
  left: 0;
}

.cardContainer > *:nth-child(3) {
  right: -150px;
}

/* =========================== Filters =========================== */

.filterCard {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    width: 180px;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    border: solid 1px #001F2B;
  }
  
  .filterCard:hover {
    cursor: pointer;
    /* transform: scale(1.05); */
    background-color: #537CE4;
    color: #FFFFFF
  }

.showcaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.showcaseText {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loginButton {
  border-radius: 9999px;
  background-color: rgb(255 255 255 / 0.1);
  padding: 0.75rem 2.5rem;
  font-weight: 600;
  color: white;
  text-decoration-line: none;
  transition: background-color 150ms cubic-bezier(0.5, 0, 0.2, 1);
}

.loginButton:hover {
  background-color: rgb(255 255 255 / 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  color: black;
}

.submitButton {
  all: unset;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.616);
  padding: 0.75rem 2.5rem;
  font-weight: 600;
  color: white;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.5, 0, 0.2, 1);
}

.submitButton:hover {
  background-color: rgb(255 255 255 / 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06740f;
  color: white;
  padding: lrem;
  height: 80px;
  width: 100%;
}

.logo a {
  color: white;
  text-decoration: none;
}

/* =========================== Navbar =========================== */

/* navbar.module.css */

.navbar {
  background-color: rgba(6, 86, 116, 0.5);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  margin-right: 80px;
}

.logo_home {
  height: 150px;
  height: 150px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navItem {
  margin-right: 20px;
}

.navLink {
  color: #fff;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.authButtons {
  margin-left: auto;
}

.loginButton,
.startButton {
  background-color: #fff;
  color: #065674;
  border: none;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover,
.startButton:hover {
  background-color: #f0f0f0;
}

/* =========================== Banner =========================== */

/* banner.module.css */

.main_banner_content {
  margin-top: 250px;
}

.banner {
  background-image: url("/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: -40px;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
}

.exploreButton {
  background-color: #065674;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.exploreButton:hover {
  background-color: #053e53;
}

/* =========================== CTA Banner =========================== */

.cta_banner {
  width: 100%;
}

.cta_banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cta_banner_blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50%; 
  margin: 0 auto;
}

.cta_banner_left, .cta_banner_right {
  flex: 1;
  display: flex;
  align-items: center;
}

.cta_banner_right {
  text-align: right;
}

.cta_banner_right_image {
  max-width: 450px;
  max-height: 450px;
  margin-left: 6rem;
}

.cta_banner_h1 {
  margin: 0;
}

.cta_banner p {
  margin: 0;
}




/* =========================== Typography =========================== */

.h1_light {
  font-size: 38px;
  font-family: Inter;
  color: #FFFFFF;
}

.h1_dark {
  font-size: 38px;
  font-family: Inter;
  color: #065674;
}

.h2_light {
  font-size: 32px;
  font-family: Inter;
  color: #FFFFFF;
}

.h2_dark {
  font-size: 32px;
  font-family: Inter;
  color: #065674;
}

.h3_light {
  font-size: 28px;
  font-family: Inter;
  color: #FFFFFF;
}

.h3_dark {
  font-size: 28px;
  font-family: Inter;
  color: #065674;
}

.h4_light {
  font-size: 22px;
  font-family: Inter;
  color: #FFFFFF;
}

.h4_dark {
  font-size: 22px;
  font-family: Inter;
  color: #065674;
}

.h5_light {
  font-size: 18px;
  font-family: Inter;
  color: #FFFFFF;
}

.h5_dark {
  font-size: 18px;
  font-family: Inter;
  color: #065674;
}

.h6_light {
  font-size: 16px;
  font-family: Inter;
  color: #FFFFFF;
}

.h6_dark {
  font-size: 16px;
  font-family: Inter;
  color: #065674;
}

.p_light {
  font-size: 12px;
  font-family: Inter;
  color: #FFFFFF;
}

.p_dark {
  font-size: 12px;
  font-family: Inter;
  color: #065674;
}

/* =========================== Footer =========================== */

.footer {
    /* background-image: url("/banner.jpg"); */
    background-size: cover;
    background-position: center;
    background-color: #001F2B;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    color: #fff;
    margin: 40px -0 0 0 ;
    padding: 40px 0 0 0 ;
    width: 100%;
  }